<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>判卷</title>
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link href="../static/images/title.png" rel="icon"/>
    <link href="../static/thirdLib/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="../static/thirdLib/axios.js"></script>
    <script src="../static/thirdLib/vue.js"></script>
    <script src="../static/thirdLib/element-ui/lib/index.js"></script>
</head>

<body>
<div id="app">
    <el-row :gutter="20" type="flex" justify="center">
        <el-col :span="6">
            <div class="grid-content"></div>
        </el-col>
    </el-row>

    <el-row :gutter="20" type="flex" justify="center">
        <el-col :span="6">
            <el-card shadow="always" style="text-align: center">
                <h1 style="text-align: center;">教师首页</h1>
                <el-divider></el-divider>
                <img src="../static/images/judge.jpg"  class="image" >
                <div style="padding: 14px">
                    <el-button type="primary" @click="toJudge()" plain >前往判卷</el-button>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
</body>

<script src="../static/js/Var.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return{

            }
        },
        methods: {
            toJudge() {
                setTimeout(() => {
                    window.location.href = "./login.html";
                }, 1000)
            }
        }
    })
</script>
<style>
    .grid-content{
        min-height: 40px;
    }

</style>
</html>